*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: rgba(255, 255, 255, 0.7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100dvh;
    transition: all ease-in-out 0.4s;
}

body.active {
    background: #ffffff;
}

#line{
    background: #000000;
    position: absolute;
    width: 100%;
    height: 8px;
    transition: all ease-in-out 0.4s;
}

#line.active{
    background: #ffffff;
}

.frame{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 40px ;
    transition: all ease-in-out 0.4s;
}

.frame.active{
    background: rgba(0, 0, 0, 0.05);
}

#period{
    font-size: 30px;
    text-transform: uppercase;
}

.clock{
    font-size: 350px;
    display: flex;
    align-items: baseline;
    transition: all ease-in-out 0.4s;
}

.clock.active{
    color: rgba(0, 0, 0, 0.7);
}

#mode{
    position: fixed;
    top: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#mode.active{
    color: rgba(0, 0, 0, 0.7);
}

#mode:hover{
    transform: scale(1.2);
}

#maximize{
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: all ease 0.3s;
}

#maximize.active{
    color: rgba(0, 0, 0, 0.7);
}

#maximize:hover{
    transform: scale(1.2);
}

#minimize{
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: all ease 0.3s;
    display: none;
}

#minimize.active{
    color: rgba(0, 0, 0, 0.7);
}

#minimize:hover{
    transform: scale(1.2);
}